@import "auth";

$grey: rgb(52, 52, 47);

html {
  font-size: 12px;
}

a* {
  a:hover {
    text-decoration: overline;
  }
}
nav {
  display: flex;
  width: 100%;
  a {
    text-decoration: none;
  }
  ul {
    width: 40%;
    margin: auto;
    margin-right: 1rem;
    display: flex;
    list-style: none;

    li {
      margin: 2rem;

      a {
        text-decoration: none;
        color: $grey;
      }
    }
  }

}
