<h3>Login</h3>
<form class="u-full-width" id="authForm" ng-submit="vm.login(vm.user)">

  <div class="row" ng-show="vm.error === true">
    <h5>Oops, your username or password is incorrect</h5>
  </div>

  <div class="row">

    <div class="input">
      <label for="username">Username</label>
      <input type="text" placeholder="username" required ng-model="vm.user.username">
    </div>

    <div class="input">
      <label for="password">Password</label>
      <input type="password" placeholder="password" required ng-model="vm.user.password">
    </div>

  </div>

  <input class="button-primary" type="submit" value="Login">
  
</form>
