<h4>Register</h4>
<form class="u-full-width" id="authForm" ng-submit="vm.register(vm.user)">
  <div class="row">
    <div class="six rows">
      <label for="username">Username</label>
      <input type="text" placeholder="username" required ng-model="vm.user.username">
    </div>
    <div class="six rows">
      <label for="password">Password</label>
      <input type="password" placeholder="password" required ng-model="vm.user.password">
    </div>
  </div>

  <input class="button-primary" type="button" value="Register">
</form>
