#authForm {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center; }
  #authForm .button-primary {
    width: auto;
    margin: auto;
    background-color: #34342f;
    border-color: #34342f; }
    #authForm .button-primary:hover {
      background-color: #8e2b4d;
      border-color: #8e2b4d; }

main#inputContainer {
  display: flex;
  width: 100%; }
  main#inputContainer div.input {
    width: 100%;
    text-align: center; }
    main#inputContainer div.input input {
      width: 90%;
      margin-right: auto;
      text-align: center; }

ul {
  width: 80%;
  margin: auto;
  display: flex;
  list-style: none; }
  ul li {
    margin: 2rem; }
    ul li a {
      text-decoration: none;
      color: #34342f; }
      ul li a:hover {
        color: #8e2b4d; }

html {
  font-size: 12px; }

body {
  width: 100%; }

.container {
  display: flex;
  flex-flow: column; }
  .container h3, .container h5 {
    margin: auto; }
  .container ul {
    width: 80%;
    margin: auto;
    display: flex;
    list-style: none;
    margin-bottom: 3rem; }
    .container ul li {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .container ul li a {
        text-decoration: none;
        color: #34342f; }

nav {
  display: flex;
  width: 90%;
  margin-left: 2rem;
  margin-bottom: 2rem; }
  nav a {
    text-decoration: none;
    color: #34342f; }
    nav a:hover {
      color: #8e2b4d; }
  nav ul {
    margin: auto;
    margin-right: 0rem;
    display: flex;
    list-style: none; }
    nav ul li {
      margin: auto;
      margin-top: 1.5rem; }
      nav ul li a {
        text-decoration: none;
        color: #34342f; }
