#authForm {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center; }
  #authForm .button-primary {
    width: auto;
    margin: auto;
    background-color: #34342f;
    border-color: #34342f; }

main#inputContainer {
  display: flex;
  width: 100%; }
  main#inputContainer div.input {
    width: 100%;
    text-align: center; }
    main#inputContainer div.input input {
      width: 90%;
      margin-right: auto;
      text-align: center; }

html {
  font-size: 12px; }

a* a:hover {
  text-decoration: overline; }

nav {
  display: flex;
  width: 100%; }
  nav a {
    text-decoration: none; }
  nav ul {
    width: 40%;
    margin: auto;
    margin-right: 1rem;
    display: flex;
    list-style: none; }
    nav ul li {
      margin: 2rem; }
      nav ul li a {
        text-decoration: none;
        color: #34342f; }
