#authForm {
  width: 100%;
  display: flex;
  flex-flow: column; }

.input {
  color: green; }

html {
  font-size: 12px; }

nav {
  display: flex;
  width: 100%; }
  nav a {
    text-decoration: none; }
  nav ul {
    width: 40%;
    margin: auto;
    margin-right: 1rem;
    display: flex;
    list-style: none; }
    nav ul li {
      margin: 2rem; }
      nav ul li a {
        text-decoration: none; }
