<form ng-submit="vm.createDeck(vm.deck)" class="u-full-width">

    <div class="six columns">
      <label for="deckName">Deck Name</label>
      <input class="u-full-width" type="text" placeholder="Basics of JavaScript" id="deckName" ng-model="vm.deck.name">
    </div>
    <div class="six columns">
      <label for="deckDescription">Description</label>
      <textarea class="u-full-width" id="deckDescription" placeholder="Description" ng-model="vm.deck.description"></textarea>
    </div>

  </div>

  <input class="button-primary" type="submit" value="Create Deck">
</form>
